<div class="container">
    <div class="row">
        <div class="">
            <div class="col-md-10">
                <div class="card bg-black card-outline-danger">
                    <h3 class="text-xs-center">About ngSpotify</h3>
                    <div class="card-block">
                        <p class="card-text">This webapp is built using Angular 2 JavaScript MV* framework and spotify api.<br> This app lets user to search for an artist and display their albums. When user selects a particular album,<br> he/she will see list of songs in
                            that album and lets the user play their preview.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>