h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.artist-header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px orangered;
}

.artist-thumb {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 10px;
}

html {
    font-size: 14px;
}


/*// Small devices (landscape phones, 544px and up)*/

@media (min-width: 544px) {
    font-size: 16px;
}


/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    font-size: 18px;
}


/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    font-size: 22px;
}


/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    font-size: 24px;
}