<div class="container">

    <h1>Need Music?</h1>
    <p class="lead">Search your fav artist here...</p>

    <form>

        <div class="form-group">
            <input type="search" autofocus="true" name="search" #search class="form-control" placeholder="search artist" (keyup)="searchMusic(search.value)">
        </div>

    </form>

    <div class="container">
        <div *ngIf="searchResults">

            <div *ngFor="let res of searchResults">
                <div class="row">
                    <div class="card card-outline-danger text-xs-center col-xs-12">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <h4><a [routerLink]="['/artist',res.id]">{{res.name}}</a></h4>

                                <footer><span *ngFor="let genre of res.genres; let i=index">{{genre}}<span *ngIf="i<res.genres.length-1">,</span></span>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>